*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* globals */
section{
    padding: 25px 0px;
}
/* header */
header{
    background-color: #14213d;
}
header .logo{
    color: orange;
    font-weight: bold;
}

header .logo .lists{
    width: 60px;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
header .logo .list{
    height: 2px;
    width: 40px;
    border-radius: 10px;
    background-color: #fff;
}
header .form .form-control{
    border-radius: 10px;
}
header .icons{
    /* padding: 1rem; */
    background-color: #e5e5e5;
    border-radius: 4px;
}
header .icon{
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
}
header .bottom-nav{
    background-color: black;
    border-radius: 25px;
}
a{
    text-decoration: none;
}
header .bottom-nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
header .bottom-nav ul li a{
    color:#fff;
}
header .bottom-nav ul li .active{
    color: rgb(255, 145, 0);
}
#features{
    background-color: #000000;
    color: #fff;
}
#features .feature-description{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: 9px;
    display: flex;
    align-items: center;
    transition: ease-in 300ms;
    background-color: #14213d81;
    color: #f0efef;
    top: 0px;
    left: 0;
    right: 0;
    bottom: -1rem;
}
#features .img-con{
    cursor: pointer;
}
#features .img-con:hover > .feature-description{
    opacity: 1;
    visibility: visible;
    transition: ease-in 300ms;
}